@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.4)),url("https://media.istockphoto.com/photos/digital-tablet-and-eyeglasses-on-books-in-public-library-picture-id1135144614?k=20&m=1135144614&s=612x612&w=0&h=NLZphrhT_9gEBiEG6EYTwPE-9mpOBPnRzxVlN7-MhmQ=");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav>a>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
/*
nav img{
    width: 150px;
}*/
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background:  gold;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 40px;


}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}
.hero-btn:hover{
    border: 1px solid #DAA520;
    background: #DAA520;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #DAA520;
        height: 80vh;
        width: 200px;
        top: 0;
        right: -100px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links{
        padding: 30px;
    }
}
/*Course content*/
.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    /*padding: 40px 80px 10px 80px;*/
}
.Course h1{
    font-size: 36px;
    font-weight: 600;
}
.Course p{
    color: darkblue;
     font-weight: 300;
     line-height: 22px;
     padding: 10px  ;
}
 .row{
     margin-top: 5px;
     display: flex;
     justify-content: space-between;
 }
 .course-col{
     flex-basis: 31%;
     background: beige;
     border-radius: 14px;
     margin-bottom: 5%;
     padding: 15px 12px;
     box-sizing: border-box; /**/
 }
 h3{
     text-align: center;
     font-weight: 600;
     margin: 5px 0;
 }
.course-col:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: 1s;
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}
/*Campus content*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px 30px 10px 30px;
}
.campus h1{
    color: darkblue;
}
.campus-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;


}
.campus-col img{
    width: 100%;
    display: block;

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0.90, 0.24, 0.19,0.4);

}
.layer h3{
    color:  brown;
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer :hover h3{
    bottom: 49%;
    opacity: 1;
}
/*facilities*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}
.facilities h1{
    color: darkblue;
    margin-bottom: 10px;
}
.facilities p{
    margin-bottom: 10px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    height: 40%;

}
.facilities-col  p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.testimonials-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    background:  cornsilk;
    cursor: pointer;
}
.testimonials h1{
    margin-bottom: 10px;
    color: darkblue;
}
#s1{
    margin-bottom: 20px;
}
.testimonials-col img{
    height: 100px;
    margin-top: 10px;
    border-radius: 100%;

}
.testimonials-col p{
    padding: 10px;
    text-align: center;

}
.testimonials-col h3{
    margin-top: 35px;
    text-align: center;
}
/*Call to Action*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://www.umary.edu/sites/default/files/styles/large/public/2021-09/About-Campus-Facilities-Locations-Satillite-Watford-City.jpg?itok=aVUM59Hy");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 20px;
    padding: 0;
}
.cta a{
    text-decoration: none;
    color: #DAA520;
    border: 1px solid #DAA520 ;
    padding: 5px 5px;
    border-radius: 5px;


}
.cta:hover a{
    background-color:darkblue;
    transition: 0.5s;
}
@media (max-width: 700px) {
    .cta h1{
        font-size: 22px;

    }
}
/*Footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 600;
}

.icons .fa{
    color: darkblue;
    margin: 0 16px;
    padding: 18px 0;
    cursor: pointer;

}
.fa-heart-o{
    color:red ;
}
/*Footer*/
/*search wrapper*/
.search-wrapper{
    margin-left: 15%;
    width: 340px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}
.search-type{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-color:   #DAA520;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-wrapper>input[type=search]{
    flex: 1;
    background: none;
    border: none;
    padding: 0px 15px;
}
.search-icon{
    width: 50px;
    height: 100%;
    background-color:  #DAA520;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.search-wrapper>input[type=search]:focus{
    outline: none;
}
/*search style
 /* social style*/

.social-outer{
    width: 50px;
    height: 150px;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.social-inner-wrap{
    flex: 1;
    position: relative;
}
.slide-context{
    background-color:  maroon;
    width: 150px;
    height: 100%;
    position: absolute;
}
.social-inner-wrap:hover>.slide-context{
    right: 51px;
}
.social-logo{
    width: 100%;
    height: 100%;
    background-color: #A8A8A8;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-logo:hover{
    background-color:#DAA520;
    color: #0F172B;
}
.slide-context{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 100%;
}
/* social style*/

/*mine*/
.mine h2{
    text-align: center;
    margin: auto;
}
/*mine*/